@import "../css/base/index.scss";

.notification {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1%;
	border: 2px solid grey;
	a {
		text-decoration: none;
		color: grey;
		&:hover {
			color: black;
		}
	}
}
.imginfo {
	display: flex;
	align-items: center;
	width: 60%;
}
.info {
	span {
		color: grey;
		margin: 0;
		font-size: 1em;
		padding: 0 4%;
		font-weight: 800;
	}
	h4 {
		color: rgb(75, 75, 75);
		margin: 0;
		font-size: 1.2em;
		padding: 0 4%;
	}
}

.defaultavathar{
    @include avatar;
}