//global
$black: #000000;
$white:#ffffff;
$whitesmoke:whitesmoke;


//alert and button
$lightblue:#acf0d1;
$lightgreen:#1edd87;
$lightred:#f83f37;
$lightyellow:#ffc65a;
$lightpink:#f89390;
$lightenblue:#37e2f8;