@mixin avatar{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 1%;
}

@mixin defaultbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 10%;
    background-color: grey;
    margin:1% 0%;
    border-radius: 5px;
    transition: all 0.5s ease;

    &:hover{
        transform: scale(1.1);
        filter:hue-rotate(50deg);
    }

}