@import "../css/base/index.scss";

.Card-product {
	height: 250px;
	background: $white;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: $white;
	margin: 2% auto;
	box-shadow: 20px 2px 5px 1px rgba(0, 0, 0, 0.2);
	img {
		height: 250px;
		width: 250px;
		object-fit: cover;
	}
	div {
		padding: 1%;
	}
	h3 {
		color: $black;
		font-size: 2em;
		margin: 0.5% auto;
	}
	span {
		color: grey;
		.bold {
			font-weight: 900;
		}
	}
}